.containerCruds {
    display: flex;
    gap: 25px;
    padding: 5px;
    width: 100%;
    height: 200%;
    max-height: 105%;
}

/* CSS Form */

.containerForm {
    width: 400px;
    height: 100%;
    max-height: 100%;
    background-color: var(--azul-intermediário);
    border-radius: 15px;
    padding: 10px;
}


.iconForms {
    display: block;
    margin: 0 auto 10px;
    color: var(--branco);
    height: 60px;
    width: 60px;
    max-height: 100%;
}

.formHeader h1 {
    color: var(--branco);
    text-align: center;
    font-size: 1.6em;
}

.formGroup {
    display: flex;
    flex-direction: column;
    margin-bottom: 5px;
}

.formGroup label {
    color: var(--branco);
    margin-bottom: 5px;
}

.formGroup input,
.formGroup select {
    padding: 8px;
    border-radius: 5px;
    border: none;
    font-size: 0.8em;
    height: 30px;
}

.formDesc {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.formDesc label {
    color: var(--branco);
    margin-bottom: 5px;
}

.formDesc textarea {
    width: 100%;
    max-width: 100%;
    word-wrap: break-word;
    white-space: normal;
    height: 100px;
    min-height: 50px;
    padding: 8px;
    border-radius: 5px;
    border: none;
    font-size: 1em;
    resize: none;
}

.imagePreview {
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

.submitButton {
    display: block;
    margin: 0 auto;
    background-color: #006972;
    color: var(--branco);
    padding: 10px;
    border: none;
    border-radius: 30px;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 200px;
}

.submitButton:hover {
    background-color: #00373c;
}

/* CSS Lista */

.containerList {
    width: 1000px;
    height: 100%;
    max-height: 100%;
    background-color: var(--azul-intermediário);
    border-radius: 15px;
    padding: 15px;
}

.containerList h1 {
    color: var(--branco);
    text-align: center;
    font-size: 1.6em;
}

.listaList {
    list-style-type: none;
    padding: 0;
    margin-top: 20px;
}

.listaItem {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--branco);
    color: var(--preto);
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.imageList {
    max-width: 100px;
}

.imagePreview img {
    max-width: 100px;
    max-height: 100px;
    border-radius: 5px;
    object-fit: cover;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.actionButtons {
    display: flex;
    gap: 10px;
}

.editButton,
.deleteButton {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1.2em;
    padding: 5px;
    border-radius: 50%;
}

.editButton {
    color: #0056b3;
}

.deleteButton {
    color: #d9534f;
}

/* CSS Atividades */

.atividadeContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    gap: 20px;
    padding: 20px;
    background-color: #f7f7f7;
}

.atividadeForm {
    background-color: var(--azul-intermediário);
    border-radius: 10px;
    padding: 20px;
    color: var(--branco);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.atividadeList {
    width: 100%;
    height: 100%;
    max-height: 100%;
    background-color: var(--azul-intermediário);
    border-radius: 15px;
    padding: 20px;
}

.atividadeList h1 {
    color: var(--branco);
    text-align: center;
}

.formGroupContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5px;
}
